{% extends 'base.html' %}

{% block title %}Тестирование экстрасенсов{% endblock %}

{% block content %}

{%if not request.session.is_gamed%}
<div>
    <p> Загадать двухзначное число</p>
    <form method="POST">
        {% csrf_token %}

        <input value="Загадать" type="submit">
    </form>
</div>
{%else%}
<div>
    <p> Ввести число</p>
    <p> Правила игры </p>
    <p> Если один из экстрасенсов отгадает или приблизительно скажет число в радиусе 10 то он победил <br>
    победитель только один! Тот кто ближе всего будет к числу, будет победителем!</p>
    <div>
        <table class="table">
            <tr>
                <td>Имя</td>
                <td>Счет</td>
                <td>Последнее предсказание</td>
                <td>История предсказаний</td>
            </tr>
            {%for psychic in request.session.psychics%}
            <tr
                    {%if psychic.is_won%}
                        class="table-primary"
                    {%endif%}
            >
                <td>{{psychic.name}}</td>
                <td>{{psychic.score}}</td>
                <td>
                    {%if psychic.last_prediction%}
                        {{psychic.last_prediction}}
                    {%else%}
                        Предсказаний еще не было
                    {%endif%}
                </td>
                <td>{{psychic.history}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <div>
        {%if desired_value%}
        <p> Ваше загаданное число: <b>{{desired_value}}</b></p>
            {%for psychic in request.session.psychics%}
                {%if psychic.is_won%}
                    <b>Победитель: {{psychic.name}}</b>
                {%endif%}
            {%endfor%}
        <p>Ваша история чисел которые вы загадали: <br>
            {{request.session.history_player}}
        </p>
        {%else%}
        <p> Загадайте число</p>
        {%endif%}
    </div>
    <form method="POST">
        {% csrf_token %}
        <input type="number" required name="desired_value">
        <input value="Ввести" type="submit">
    </form>
</div>
{%endif%}

{% endblock %}