{% extends 'base.html' %}

{% block title %}Тестирование экстрасенсов{% endblock %}

{% block content %}

<div>
    <div>
        <table class="table">
            <tr>
                <td>Имя</td>
                <td>Счет</td>
                <td>Последнее предсказание</td>
            </tr>
            {%for psychic in request.session.psychics%}
            <tr
                    {%if psychic.is_won%}
                        class="table-primary"
                    {%endif%}
            >
                <td>{{psychic.name}}</td>
                <td>{{psychic.score}}</td>
                <td>
                    {%if psychic.last_prediction is not None%}
                        {{psychic.last_prediction}}
                    {%else%}
                        Предсказаний еще не было
                    {%endif%}
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <div>
        {%if desired_value is not None%}
        <p> Ваше загаданное число: <b>{{desired_value}}</b></p>
            {%for psychic in request.session.psychics%}
                {%if psychic.is_won%}
                    <b>Победитель: {{psychic.name}}</b>
                {%endif%}
            {%endfor%}
        <p>Ваша история чисел которые вы загадали: <br>
            {{request.session.history_player}}
        </p>
        {%endif%}
    </div>
    <form method="POST">
        {% csrf_token %}
        <input value="Играть снова!" type="submit">
    </form>
</div>

{% endblock %}